@import url(https://fonts.googleapis.com/css?family=Bangers);

:root {
  --card-dimension: min(17vw, 17vh);
  --card-gap: min(2vw, 2vh);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: hsla(10, 5%, 15%, 1);
  user-select: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--card-gap);
  width: fit-content;
  margin: 0 auto 0 auto;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: -5rem;
  height: 5rem;
  font-size: 2rem;
}

.header span:first-child {
  font-weight: 700;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--card-dimension) / 1.5);
  color: hsla(10, 5%, 55%, 1);
  width: var(--card-dimension);
  height: var(--card-dimension);
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}

.oddboxinner {
  margin: 15px;
  transform: rotate(-2deg);
}

.attempts {
  font-weight: 600;
  color: hsla(279, 20%, 55%, 1);
}

.alert-container {
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  padding: 1rem;
}

.alert-message {
  width: 100%;
  line-height: 1.6;
  font-size: 2.1rem;
  font-weight: 800;
  background-color: hsla(152, 39%, 45%, .8);
  padding: 1.3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: hsla(0, 0%, 0%, 1);
  border-radius: 0.75rem;
  white-space: pre-line;
}

/* Tablets */
@media (max-width: 1030px) {
  .alert-message {
    font-size: 1.6rem;
  }
}

/* Small tablets / large phones */
@media (max-width: 770px) {
  .alert-message {
    font-size: 1.4rem;
  }
}

/* Phones */
@media (max-width: 485px) {
  .alert-message {
    font-size: 1.2rem;
  }
}

/* Very small phones */
@media (max-width: 360px) {
  .alert-message {
    font-size: 1.2rem;
  }
}