@import url(https://fonts.googleapis.com/css?family=Bangers);


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: hsla(10, 5%, 15%, 1);
}

.app-container {
  min-width: clamp(50rem, 80%, 70rem);
  margin-bottom: 3rem;
  user-select: none;
}

h1 {
  font-size: 6rem;
  color: hsla(152, 39%, 45%, 1);
  text-align: center;
  margin: 2rem;
}

main {
  width: 50vw;
  margin: 0 auto;
  position: relative;
}

.cards-container {
  width: 64rem;
  height: calc(100vh - 20rem);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 auto;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  color: hsla(10, 5%, 55%, 1);
  width: 15rem;
  height: 15rem;
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}

.oddboxinner{
  margin: 15px;
  transform: rotate(-2deg);
}

.attempts {
  position: absolute;
  right: -18rem;
  bottom: 0;
  width: 25rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: hsla(279, 20%, 55%, 1);
}

.alert-container {
  width: 50rem;
  height: 30rem;
  background-color: hsla(0, 0%, 0%, .7);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert-message {
  width: 30rem;
  height: 15rem;
  font-size: 2rem;
  font-weight: 600;
  background-color: hsla(0, 0%, 0%, 1);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  position: fixed;
  color: red;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}